
@font-face {
    font-family: 'hnt';
    src: url('../../fonts/hnt-webfont.eot');
    src: url('../../fonts/hnt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/hnt-webfont.woff') format('woff'),
         url('../../fonts/hnt-webfont.ttf') format('truetype'),
         url('../../fonts/hnt-webfont.svg#hnt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gpro';
    src: url('../../fonts/gpro-bold-webfont.woff2') format('woff2'),
         url('../../fonts/gpro-bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'gpro';
    src: url('../../fonts/gpro-medium-webfont.woff2') format('woff2'),
         url('../../fonts/gpro-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'gpro';
    src: url('../../fonts/gpro-webfont.woff2') format('woff2'),
         url('../../fonts/gpro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
