*{
    line-height: 1rem;
    outline: none;
    box-shadow:none!important;
}
.container{
        max-width: 1440px!important;
    @media screen and (min-width: 1440px) {
        max-width: 1340px!important;
    }
    @media screen and (min-width: 1530px) {
        max-width: 1440px!important;
    }
}
body{
    font-family: "hnt"!important;
}
p{
    font-size: 18px;
    line-height: 24px;
    @include media-breakpoint-up(lg) {
        font-size: 22px;
        line-height: 28px;
    }
}

#info-panel{
    position: fixed;
    width: 40px;
    height: 90px;
    top:50%;
    left: 15px;
    transform:translate(0%,-50%);
    z-index: 1002;
    opacity: 1;
    transition: bottom 0.4s,opacity 0.4s;
    &.active{
        @include media-breakpoint-down(sm) {
            bottom:-80px;
            opacity: 0;

        }
    }
    @include media-breakpoint-down(sm) {
        position: fixed;
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
        transform: translate(0%, -50%);
        z-index: 1001;
        transition: all 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        top: initial;
        transform: none;
        background: #fff;
        padding: 20px 0;
    }
    @include media-breakpoint-up(xl) {
        width: 60px;
        height: 135px;
        left: 30px;
    }
    a{
        &:hover{
            svg{
                path{
                    &.bgi{
                        fill:$secondary;
                    }
                }
            }
        }
    }

    #email{
        svg{
            margin-bottom: 15px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }
    #email, #phone{
        svg{
            max-width: 40px;
            width: 100%;

            @include media-breakpoint-up(xl) {
                max-width: 90px;

            }
            path{
                transition: all 0.4s;
            }
        }
    }

}
.direction{
     font-family: 'gpro';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
}

.black-zone{
    background-color: black;
    z-index: 1004;
    ul{
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
            li{
                a{
                    float: left;
                    margin-right: 8px;
                    background-color: white;
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    display: block;
                    text-decoration: none;
                    transition: all 0.3s;
                    svg{
                        path{
                            transition: all 0.3s;
                        }
                    }
                    &:hover{
                        background-color: $secondary;

                            path{
                                fill:white;
                            }
                    }
                }
            }
    }

}
a{
    font-family: 'gpro';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    &.btn{
            font-family: 'gpro';
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            border-radius: 36px;
            padding: 10px 35px;

        &.btn-primary{
            color: white;
            background-color: black;
            border: 1px solid black;
            &:hover{
                background-color: $secondary;
                color: white;
                border: 1px solid $secondary;
                }
             &:active, &:focus, &:visited{
                outline:none;
                background-color: $primary!important;
                color: white!important;
            border: 1px solid $primary!important;

            }
        }
        &.btn-secondary{
            background-color: white;
            color: black;
            border: 1px solid white!important;
            svg{
                width: 100%;
                display: block;
                path{
                    fill:black;
                    transition: all 0.3s;
                }
            }
            &:hover{
                color: white;
                background: $secondary;
                border: 1px solid $secondary!important;
                img{

                }
                svg{
                    path{
                        fill:white;
                    }
                }
            }
        }
        &.zoom{
            display:flex;
            position: absolute;
            top: 0;
            right: 15px;

           @include media-breakpoint-down(sm) {
                display: flex;
                position: relative;
                top: 0;
                right: initial;
                max-width: 261px;
                margin: 0 auto;
                justify-content: center;
                margin-bottom:40px;

            }
            @media screen and (min-width: 1455px) {
                right: 15px;
            }
            &.second{
                display:inline-flex;
                position: relative;
                top:initial;
                right: initial;
                padding: 10px 31px;
                max-width: 150px;
            }
            div.img{
                display:block;
                float:left;
                margin-left: 5px;
                max-width:14px;
                width:13px;
                background-repeat: no-repeat;
                &.search{
                    background-image: url('../../svg/search.svg');
                }
                &.memory{
                    background-image: url('../../svg/download-b.svg');
                }
            }
            &:hover{

            }
        }
    }
    &:hover{
        color:black;
    }
}
h1, h2{

    font-family: 'hnt';
        font-size: 30px;
        line-height: 35px;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 46px;
    }

br{
    @include media-breakpoint-only(md) {
        display: none;
    }
    @include media-breakpoint-only(lg) {
        display: none;
    }
    @include media-breakpoint-only(xs) {
        display: none;
    }
}

}

h3{
    font-family: 'gpro';
    font-size: 16px;
    line-height: 22px;
    color: $primary;
    font-weight: normal;
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 24px;
    }
}


h4{
    font-family: 'gpro';
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: $secondary;
}

.goto{
    display: block;
    float: left;
    padding-right: 5px;
    font-family: 'gpro';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    border:1px solid transparent;
        @include media-breakpoint-down(lg) {
            display: none;
        }
}
/*slick */
.slick-lightbox{
    background:rgba(0,0,0,0.93)!important;
}
.slick-lightbox-close{

    width: 25px;
    height: 25px;
    right: 36px;
    top: 36px;
    opacity: 0.7;
    transition: 0.7s;
        @include media-breakpoint-up(lg) {
            width: 50px;
            height: 50px;
        }
    &::before{
        content:'';
        background: url('../../svg/close.svg');
        width: 25px;
        height: 25px;
        display: block;
        background-repeat: no-repeat;
        transition: all 0.8s;
        @include media-breakpoint-up(lg) {
            width: 50px;
            height: 50px;
        }
    }
    &:hover{
        opacity: 1;
        &::before{
            transform: rotate(90deg);
        }

    }
}
.slick-arrow{
    width: 120px;
    height: 60px;
    opacity: 1;
    z-index: 10000;
    transition: all 0.7s;
        @include media-breakpoint-down(md) {
            width: 60px;
            height: 30px;
        }
    &::before{
        content:'';
        width: 120px;
        height: 60px;
        display: block;
        background-repeat: no-repeat;
        @include media-breakpoint-down(md) {
            width: 60px;
            height: 30px;
        }
    }
    &:hover{
        opacity: 0.5;
    }
    &.slick-next{

            right:0;
            @media screen and (min-width: 1600px) {
                right:-75px;
            }
        &::before{
            background-image: url('../../svg/next.svg');
            background-position: center right;
        }
        &:hover{

        }
    }
    &.slick-prev{
            left:0;
            @media screen and (min-width: 1600px) {
                left:-75px;
            }
        &::before{
            background-image: url('../../svg/prev.svg');
        }
        &:hover{

        }

    }
}

.specs{
    h4{
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            line-height: 24px;
        }
    }
    p{
        margin-bottom: 20px;
        @include media-breakpoint-down(md) {
        }
    }
}
.co2{
    font-size: 8px;
    bottom: 3px;
    float: left;
    display: block;
}
.co2next{
    padding-left: 5px;
    float: left;
    display: block;
}


svg{
    &#alogo, &#alogomb{
        position: relative;
        max-width: 90px;
        width: 100%;
        display: block;
        @include media-breakpoint-down(md) {
            display: none;

        }
        @include media-breakpoint-up(lg) {
            position: absolute;
            transform: translate(-50%, 0);
            top: 30px;
            left: 0;

        }
        @include media-breakpoint-down(lg) {
            margin:0 auto;
            margin-bottom: 60px;

        }
        &.mb{
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
                margin-bottom: 30px;

            }
        }
    }

    &#alogo{

        max-width: 90px;
        @include media-breakpoint-down(lg) {
            max-width: 60px;

        }
    }

}

.pdl{
    padding-left: 0;
    padding-right: 0;
}

.xlarge{
    @media screen and (min-width: 1650px) {
        margin: initial!important;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
}
.xlargehalf{
    @media screen and (min-width: 1650px) {
        margin: initial!important;
        flex: 0 0 50%!important;
        max-width: 50%!important;
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
}
.xlargemi{

    @media screen and (min-width: 1650px) {
        margin: initial!important;
    }

}
.grif{

        @include media-breakpoint-up(md) {
            padding-left: 0;
        }
}
.xlargemi5{
    @media screen and (min-width: 1650px) {
        margin: initial!important;
        flex: 0 0 41.6666666667%!important;
    }

}

