.burger {
  position: relative;
  display: flex;
  outline: none;
  height: 30px;
  width: 30px;
  border: 0px;
  padding: 0px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  background: black;
  transition: all 250ms ease-out;
  will-change: transform;
  top: 50%;
}

.burger.active:before {
  transform: translateY(0) rotate(45deg);
}

.burger.active:after {
  transform: translateY(0) rotate(-45deg);
}

.burger:before {
  transform: translateY(-7px);
}

.burger:after {
  transform: translateY(7px);
}

#navigation-wrapper {
  transition: all 250ms ease-in-out;
}
#navigation-wrapper.active {
  background-color: #fff;
  min-height: 100vh;
}

#navigation {
  position: relative;
  background: transparent;
  transition: all 250ms ease-in-out;
}
#navigation.active {
  background: #fff;
}

#navigation-top-bar-wrapper {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  #navigation-top-bar-wrapper {
    width: 200px;
    position: relative;
    z-index: 1;
  }
}

#navigation-top-bar {
  height: 50px;
}

#navbar-logo {
  background-image: url(/images/logo-compte.svg?61c7ddc75765d9010f4f622cc980d939);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 30px;
  line-height: 90px;
  text-align: center;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}
.active #navbar-logo {
  text-indent: inherit;
  line-height: 32px;
  background-position-y: -90px;
}
@media (min-width: 992px) {
  .active #navbar-logo {
    line-height: 90px;
    background-position: center center;
  }
}

#navbarNav {
  position: relative;
  z-index: 0;
}
@media (min-width: 992px) {
  #navbarNav.collapse {
    display: block;
  }
}
@media (min-width: 992px) {
  #navbarNav {
    width: 100%;
    position: absolute;
    bottom: 50%;
    left: 0;
    margin-bottom: -1px;
    transform: translate(0, 50%);
  }
}
#navbarNav .item {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 992px) {
  #navbarNav .item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
#navbarNav .item.item-action {
  color: #888;
}
@media (min-width: 992px) {
  #navbarNav .item.item-action {
    color: black;
  }
  #navbarNav .item.item-action:nth-of-type(2) {
    color: #888;
  }
  #navbarNav .item.item-action:nth-of-type(2) .after-hover:after {
    border-bottom: 1px solid #d6d6d6;
  }
}
#navbarNav .item.item-action .after-hover:after {
  border-bottom: none;
}
@media (min-width: 992px) {
  #navbarNav .item.item-action .after-hover:after {
    border-bottom: 1px solid #000;
  }
}

#menu-1-toggler .item-action,
#menu-2-toggler .item-action {
  width: 100%;
}
#menu-1-toggler .item-action:nth-of-type(1),
#menu-2-toggler .item-action:nth-of-type(1) {
  display: none;
}
#menu-1-toggler .item-action:nth-of-type(1).collapsed,
#menu-2-toggler .item-action:nth-of-type(1).collapsed {
  display: block;
}
#menu-1-toggler .item-action.collapsed:nth-of-type(2),
#menu-2-toggler .item-action.collapsed:nth-of-type(2) {
  display: none;
}
#menu-1-toggler .item-action.collapsed + .line,
#menu-2-toggler .item-action.collapsed + .line {
  opacity: 0;
}

.collapse.custom {
  display: block;
  height: auto !important;
  transition: all 250ms ease-in-out !important;
  opacity: 1;
  display: block;
}
@media (min-width: 992px) {
  .collapse.custom {
    opacity: 0;
    display: none;
  }
}
.collapse.custom.show {
  opacity: 1;
  display: block;
}

.collapsing.custom {
  display: block;
  height: auto !important;
  opacity: 0;
  transition: all 250ms ease-in-out !important;
}

#footer {
  font-size: 12px;
}
@media (min-width: 992px) {
  #footer {
    font-size: inherit;
  }
}

#footer-logo {
  position: relative;
  height: 125px;
  width: 125px;
  transition: all 250ms ease-in-out;
}
@media (min-width: 992px) {
  #footer-logo {
    height: 200px;
    width: 200px;
  }
}
#footer-logo:after {
  transition: all 250ms ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37.5px;
  height: 30px;
  margin-left: -17.5px;
  margin-top: -15px;
  content: "";
  display: block;
  background-image: url(/images/logo-compte-white-small.svg?30a37f41b59853753719e4ac051a78a4);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  #footer-logo:after {
    margin-top: -75px;
    margin-left: -75px;
    height: 150px;
    width: 150px;
    background-position-x: -50%;
    background-size: contain;
    background-image: url(/images/logo-compte-white.svg?6e42d2a407742c0cca954b15a5fed7b2);
  }
}

@-webkit-keyframes arrowLoop {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes arrowLoop {
  0% {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -20px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
#to-top {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  -webkit-animation: arrowLoop 3s infinite;
          animation: arrowLoop 3s infinite;
}
@media (min-width: 576px) {
  #to-top {
    bottom: calc(100% + 15px);
    left: auto;
    right: 2rem;
    top: auto;
  }
}

.arrow {
  position: absolute;
  transform-origin: 0 0 0;
  display: block;
  height: 75px;
  width: 30px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  color: transparent;
  transform: scale(0.75);
}
@media (min-width: 576px) {
  .arrow {
    transform: scale(0.9);
    bottom: auto;
    left: auto;
    right: 1rem;
    top: 1rem;
  }
}
.arrow:after {
  content: "";
  border-left: 1px solid black;
  position: absolute;
  width: 30px;
  left: 15px;
  bottom: 0;
  height: 75px;
}
@media (min-width: 576px) {
  .arrow:after {
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
  }
}
.arrow:before {
  content: "";
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  top: 4px;
  width: 75px;
  transform-origin: 0% 0% 0%;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
}
@media (min-width: 576px) {
  .arrow:before {
    bottom: 1rem;
    top: 4px;
    right: 1rem;
  }
}
.arrow:hover:after {
  border-left: 1px solid #888;
}
.arrow:hover:before {
  border-top: 1px solid #888;
  border-left: 1px solid #888;
}

.next-section {
  z-index: 2;
  position: absolute;
  bottom: 4rem;
  right: 10%;
  -webkit-animation: arrowLoop 3s infinite;
          animation: arrowLoop 3s infinite;
}
.next-section .arrow {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .next-section {
    right: 25%;
  }
}

.legacy .arrow:after {
  right: 1px;
}

#aside-info {
  display: flex;
  position: fixed;
  text-align: center;
  bottom: -90px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: #fff;
  transition: all 250ms ease-in-out;
  z-index: 999;
}
@media (max-width: 991.98px) {
  #aside-info.popt {
    bottom: 0;
  }
}
@media (min-width: 992px) {
  #aside-info {
    padding: 0;
    margin-top: -80px;
    top: 50%;
    left: 15px;
    width: 60px;
    bottom: auto;
    flex-direction: column;
    background-color: transparent;
  }
}
#aside-info .phone, #aside-info .mail {
  transition: all 250ms ease-in-out;
  display: block;
  height: 60px;
  width: 60px;
  background-color: #000;
  border-radius: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -100vw;
  overflow: hidden;
}
#aside-info .phone:hover, #aside-info .mail:hover {
  background-color: #888;
  transform: scale(1.2);
}
#aside-info .phone {
  margin-right: 20px;
  background-image: url(/images/phone.svg?42fbadc79c6909393a46a162798f6862);
}
@media (min-width: 992px) {
  #aside-info .phone {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
#aside-info .mail {
  background-image: url(/images/mail.svg?9c17afb8bf8d66105b342a70fe603537);
}

.simple-hover {
  color: #000 !important;
  padding-bottom: 1px;
}
.simple-hover:hover {
  border-bottom: 1px solid #000;
}

a:hover {
  text-decoration: none;
}

.after-hover {
  position: relative;
}
.after-hover:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  margin-left: 50%;
  border-bottom: 1px solid transparent;
  transition: all 250ms ease-in-out;
}
.after-hover:hover:after, .after-hover.active:after {
  width: 100%;
  margin-left: 0%;
  border-bottom: 1px solid #000;
}
.after-hover.active:after, .after-hover.active:hover:after {
  border-bottom: 1px solid #000;
}

.legacy #page {
  margin-top: 60px;
}
.legacy #navigation-wrapper {
  background-color: white;
}
.legacy .text-body {
  font-family: "gpro", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.legacy .bg-black {
  background-color: #000;
}
