@keyframes arrowLoop {
    0% {
        transform: translate(0, 0px);
    }
    25% {
        transform: translate(0, -20px);
    }
    50% {
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(0, 0px);
    }
  }

#to-top {
    position: absolute;
    bottom: map-get($spacers, 4);
    left: map-get($spacers, 2);

    animation: arrowLoop 3s infinite;

    @include media-breakpoint-up(sm) {
        bottom: calc(100% + 15px);
        left: auto;
        right: map-get($spacers, 2);
        top: auto;
    }
}

.arrow {
    position: absolute;
    transform-origin: 0 0 0;
    display: block;
    height: $arrow-size * 2.5;
    width: $arrow-size;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;

    transform: scale(0.75);

    @include media-breakpoint-up(sm) {
        transform: scale(.9);
        bottom: auto;
        left: auto;
        right: map-get($spacers, 1);
        top: map-get($spacers, 1);
    }


    &:after {
        content: '';
        border-left: $arrow-line;
        position: absolute;
        width: $arrow-size;
        left: $arrow-size/2;
        bottom: 0;
        height: $arrow-size * 2.5;

        @include media-breakpoint-up(sm) {
            bottom: auto;
            left: auto;
            right: 0;
            top: 0;
        }
    }

    &:before {
        content: '';
        border-top: $arrow-line;
        border-left: $arrow-line;
        position: absolute;
        top: 4px;
        width: $arrow-lenght;
        transform-origin: 0% 0% 0%;
        transform: rotate(45deg);
        height: $arrow-size;
        width: $arrow-size;

        @include media-breakpoint-up(sm) {
            bottom: map-get($spacers, 1);
            top: 4px;
            right: map-get($spacers, 1);
        }
    }

    &:hover {
        &:after {
            border-left: $arrow-line-hover;
        }
        &:before {
            border-top: $arrow-line-hover;
            border-left: $arrow-line-hover;
        }
    }

}

.next-section {
    z-index: 2;
    position: absolute;
    bottom: map-get($spacers, 4);
    right: 10%;

    animation: arrowLoop 3s infinite;

    .arrow {
        transform: rotate(180deg);
    }

    @include media-breakpoint-up(lg) {
        right: 25%;
    }
}

.legacy  {
    .arrow:after {
        right: 1px;
    }
}