#aside-info {
    display: flex;
    $radius: 30px;
    position: fixed;
    text-align: center;
    bottom: -$radius*3;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: map-get($spacers, 1) map-get($spacers, 1);
    background-color: $white;
    transition: all 250ms ease-in-out;
    z-index: 999;

    &.popt {
        @include media-breakpoint-down(md) {
            bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
        margin-top: -$radius * 2 - 20px;
        top: 50%;
        left: 15px;
        width: $radius * 2;
        bottom: auto;
        flex-direction: column;
        background-color: transparent;
    }

    .phone, .mail {
        transition: all 250ms ease-in-out;
        display: block;
        height: $radius * 2;
        width: $radius * 2;
        background-color: $black;
        border-radius: $radius;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -100vw;
        overflow: hidden;
        &:hover {
            background-color: $gray;
            transform: scale(1.2);
        }
    }

    .phone {
        margin-right: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
            margin-right: 0;
        }
        background-image: url('../../assets/svg/phone.svg');
    }
    .mail {
        background-image: url('../../assets/svg/mail.svg');
    }
}