.burger {
    position: relative;
    display: flex;
    outline: none;
    height: $buger-height;
    width: $buger-height;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.burger:before,
.burger:after {
    content: '';
    width: $buger-height;
    height: $border-width;
    position: absolute;
    background: black;
    transition: all 250ms ease-out;
    will-change: transform;
    top: 50%;
}

.burger.active:before {
    transform: translateY(0) rotate(45deg);
}

.burger.active:after {
    transform: translateY(0) rotate(-45deg);
}

.burger:before {
    transform: translateY(-7px);
}

.burger:after {
    transform: translateY(7px);
}