#footer {
    font-size: 12px;
    @include media-breakpoint-up(lg) {
        font-size: inherit;
    }
}

#footer-logo {

    position: relative;
    height: 125px;
    width: 125px;
    transition: all 250ms ease-in-out;

    @include media-breakpoint-up(lg) {
        height: 200px;
        width: 200px;
    }

    &:after {
        transition: all 250ms ease-in-out;

        position: absolute;
        top: 50%;
        left: 50%;
        width: 37.5px;
        height: 30px;
        margin-left: -17.5px;
        margin-top: -15px;
        content: '';
        display: block;
        background-image: url('../../assets/svg/logo-compte-white-small.svg');
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include media-breakpoint-up(lg) {
            margin-top: -75px;
            margin-left: -75px;
            height: 150px;
            width: 150px;
            background-position-x: -50%;
            background-size: contain;
            background-image: url('../../assets/svg/logo-compte-white.svg');

        }
    }

}