#navigation-wrapper{
    transition: all 250ms ease-in-out;
    &.active {
        background-color: $white;
        min-height: 100vh;
    }
}

#navigation {
    position: relative;
    background: transparent;
    transition: all 250ms ease-in-out;
    &.active {
        background: $white;
    }
}

#navigation-top-bar-wrapper{
    margin: 0 auto;
    width: 100%;
    @include media-breakpoint-up(lg) {
        width: 200px;
        position: relative;
        z-index: 1; // this index is necessary to pop the layer to the front
    }
}

#navigation-top-bar {
    height: 50px;
}

#navbar-logo {
    background-image: url('../../assets/svg/logo-compte.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 160px;
    height: 30px;
    line-height: 90px;
    text-align: center;
    transition: all 250ms ease-in-out;
    overflow: hidden;

    .active & {
        text-indent: inherit;
        line-height: 32px;
        background-position-y: -90px;

        @include media-breakpoint-up(lg) {
            line-height: 90px;
            background-position: center center;
        }

    }
}

#navbarNav {
    position: relative;
    z-index: 0;
    @include media-breakpoint-up(lg) {
        &.collapse {
            display: block;
        }
    }
    @include media-breakpoint-up(lg) {
        width: 100%;
        position: absolute;
        bottom: 50%;
        left: 0;
        margin-bottom: -1px;
        transform: translate(0, 50%);
    }
    .item
    {
        padding-right: map-get($spacers, 1);
        padding-left: map-get($spacers, 1);
        padding-top: $spacer/2;
        padding-bottom: $spacer/2;
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            padding-bottom: 0;  
        }

        &.item-action {
            color: $secondary;
            @include media-breakpoint-up(lg) {
                color: black;
                &:nth-of-type(2) {
                    color: $secondary;
                    .after-hover:after {
                        border-bottom: 1px solid $gray-light;
                    }
                }
            }
            .after-hover {
                &:after {
                    border-bottom: none;
                    @include media-breakpoint-up(lg) {
                        border-bottom: 1px solid $black;
                    }
                }
            }
        }

    }
}

#menu-1-toggler,
#menu-2-toggler {

    .item-action {
        width: 100%;
    }

    .item-action:nth-of-type(1) {
        display: none;
        &.collapsed {
            display: block;
        }
    }
    .item-action.collapsed:nth-of-type(2) {
        display: none;
    }

    .item-action.collapsed + .line {
        opacity: 0;
    }
}

.collapse.custom {
    display: block;
    height: auto !important;
    transition: all 250ms ease-in-out !important;

    opacity: 1;
    display: block;
    @include media-breakpoint-up(lg) {
        opacity: 0;
        display: none; 
    }

    &.show {
        opacity: 1;
        display: block;
    }
}

.collapsing.custom {
    display: block;
    height: auto !important;
    opacity: 0;
    transition: all 250ms ease-in-out !important;
}