.slidedown-box {
    .title {
        padding-top: $spacer * .25;
        padding-bottom: $spacer * .25;
        position: relative;
        &:hover {
            color: $black;
        }
        &:after {
            border-top: 1px solid $black;
            border-left: 1px solid $black;
            border-bottom: 0px solid $black;
            border-right: 0px solid $black;

            position: absolute;
            top: 12px;
            right: 6px;
            content: '';
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            transition: all 250ms ease-in-out;
            transform-origin: 50% 50%;
        }
        &.collapsed {
            &:after {
                border-top: 0px solid $black;
                border-left: 0px solid $black;
                border-bottom: 1px solid $black;
                border-right: 1px solid $black;

                top: 6px;
            }
        }
    }
}
