body{
    &#home{
        .highlight{
            .promo-s{
                padding-top:0;
                padding-bottom: 0;
                >div.h-100{
                        position: relative;
                    @media screen and (min-width: 1440px) {
                    }

                    .title-zone{
                        position: absolute;
                        top:0;
                        right: 0;
                        display: block;
                        h2{
                            padding-top:90px;
                            padding-bottom:30px;
                            display: none;
                            @include media-breakpoint-up(lg) {
                            }
                            @include media-breakpoint-up(xl) {
                                padding-top:90px;
                                display: block;
                            }
                            @media screen and (min-width: 1440px) {
                                padding-top:180px;
                            }
                        }
                        p{
                            font-family: 'gpro';
                            text-transform: uppercase;
                            font-size: 14px;
                            line-height: 20px;
                            display: none;
                            @include media-breakpoint-up(xl) {
                                display: block;
                            }
                            &#counter{
                            font-family: 'hnt';
                                display: block;
                                position: absolute;
                                font-size: 22px;
                                line-height: 30px;
                                right:30px;
                                bottom:10px;
                                z-index: 1003;
                                @include media-breakpoint-up(lg) {
                                 }
                                @include media-breakpoint-up(xl) {
                                    bottom:40px;
                                    left: 15px;
                                    right: initial;
                                 }
                            }
                        }
                    }
                }

                #carousel-splash{
                    @media screen and (max-width: 1439px) and (min-width: 1200px) {
                        flex: 0 0 83.3333333333%!important;
                        max-width: 83.3333333333%!important;

                    }
                    @media screen and (min-width: 1440px) {

                        max-width: 1630px;
                        width: 100%;
                        margin-bottom: 0;
                        line-height: 1;
                        left: -250px;
                        height: 980px;
                    }

                    #next{
                        max-width: 120px;
                        position: absolute;
                        top:50%;
                        right:0;
                        width: 120px;
                    }
                    .slick-list{
                        overflow:hidden;
                    }
                    .slick-slide{
                        overflow:hidden;
                        &.slick-current{
                            overflow:visible;
                        }
                        img{
                            &.main{
                                @media screen and (min-width: 1455px) {

                                    display: block;
                                    max-width: none;
                                    position: relative;
                                    float:right;
                                    z-index:1000;

                                }
                            }
                        }
                        .item{
                            overflow:visible;
                        }

                    }
                    .slick-arrow.slick-next {
                        right: 30px;
                        @include media-breakpoint-up(xl) {
                             right: -75px;
                         }
                    }
                }
            }
        }
        .promo{
            padding: 40px 0;
            position: relative;
                @include media-breakpoint-up(md) {
                    padding: 90px 0;
                }
            h2{
                padding-bottom: 30px;
                margin-bottom:0;
                @include media-breakpoint-up(md) {
                    padding-bottom: 60px;
                }
            }
            p{
                margin-bottom: 1rem;
                @include media-breakpoint-up(md) {
                    margin-bottom: 40px;
                }
            }
            .bg-m{
                position: absolute;
                left: 45%;
                z-index: 0;

                @include media-breakpoint-up(md) {
                    bottom: 0;

                }
                @include media-breakpoint-down(sm) {
                    top: 60%;
                    left: 45%;

                }
            }
        }
        #promo-sert{
            background-color: #ececec;
            overflow: hidden;
            margin-top: -1px;

            @include media-breakpoint-up(md) {
                 padding-top: 90px;

            }
            @include media-breakpoint-up(lg) {
                 padding-top: 180px;

            }
            .sert-img{
                z-index: 1;
                @include media-breakpoint-down(md) {
                    padding-top: 144px;
                }
                @include media-breakpoint-down(sm) {
                    padding-top: 54px;
                }
            }
            #resert{
                width: 170px;
                height: 170px;
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transform:rotate(45deg);
                margin: 0 auto;

                @include media-breakpoint-up(md) {
                    position: absolute;
                    transform: translate(-50%, -50%) rotate(45deg);
                     margin: initial;
                }

                @include media-breakpoint-down(md) {
                    width: 110px;
                    height: 110px;
                }
                img{
                    max-width: 112px;
                    transform: rotate(-45deg);

                    @include media-breakpoint-down(md) {
                        max-width: 80px;
                    }
                }
            }
            .specs{
                    z-index: 2;
                    @include media-breakpoint-down(sm) {
                        margin-top:1rem;
                    }

            }
        }

        #why{
            background-color: black;
            color: white;
            padding-bottom: 0;
            .inner{
                margin-bottom: 60px;
            }
            h2{
                text-align: center;
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 50px;
                        text-align: left;
                    }
            }
            h3{
                color: white;
                margin-bottom: 60px;
                display: flex;
                align-items: center;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 30px;
                }
                &::before{
                    content:'';
                    width: 55px;
                    display: block;
                    position: absolute;
                    overflow: hidden;
                    left: -70px;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include media-breakpoint-down(md) {
                        left: -55px;
                    }


                }
                &#loc{
                    &::before{
                        height: 38px;
                        background-image: url('../../../svg/loc.svg');
                    }
                }
                &#energy{
                    &::before{
                        height: 33px;
                        background-image: url('../../../svg/energy.svg');
                    }

                }
                &#interiorism{

                    &::before{
                        height: 40px;
                        background-image: url('../../../svg/interiorism.svg');
                    }

                }
                &#parking{

                    &::before{
                        height: 33px;
                        background-image: url('../../../svg/parking.svg');
                    }
                }
                &#exterior{

                    &::before{
                        height: 41px;
                        background-image: url('../../../svg/exterior.svg');
                    }

                }
                &#quality{
                    &::before{
                        height: 32px;
                        background-image: url('../../../svg/quality.svg');
                    }

                }
            }
            p{
                margin-bottom: 0;

            }
        }

        #tipology{
            padding-bottom: 0;
            z-index: 1;
            .slidew{
               @include media-breakpoint-up(lg) {
                    max-width: 870px;
                    margin: 0 auto;

                }
            }
            .btn.zoom{
               @include media-breakpoint-down(sm) {
                max-width: 170px;
               }

            }
            h2{
               @include media-breakpoint-down(sm) {
                    text-align: center;
               }
            }
        }
        #tip-slide{
            margin-bottom: 0;
        }

        #tipinfo{
            z-index: 0;
            padding:0;
            margin-top: -60px;
            background: #d6d6d6;

           @include media-breakpoint-down(sm) {
            margin-top: -40px;
           }
           @include media-breakpoint-up(xl) {
                margin-top: -190px;

            }

           @media screen and (min-width: 1440px) {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+1,d6d6d6+73,000000+73,000000+100 */
                background: #ffffff; /* Old browsers */
                background: -webkit-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 80%, #000000 80%, #000000 100%);
                background: -o-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 80%, #000000 80%, #000000 100%);
                background: linear-gradient(to right, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 80%, #000000 80%, #000000 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

           }
           @media screen and (min-width: 2300px) {
                background: -webkit-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 62%, #000000 71%, #000000 100%);
                background: -o-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 71%, #000000 71%, #000000 100%);
                background: linear-gradient(to right, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #d6d6d6 71%, #000000 71%, #000000 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

            }
           @media screen and (min-width: 3102px) {
                background: -webkit-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #000000 50%, #000000 100%);
                background: -o-linear-gradient(left, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #000000 50%, #000000 100%);
                background: linear-gradient(to right, #ffffff 1%, #ffffff 50%, #d6d6d6 50%, #000000 50%, #000000 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

            }
            .grey,.black{
                padding-top:60px;
                padding-bottom:60px;
               @include media-breakpoint-up(lg) {
                    padding-top:90px;
                    padding-bottom:90px;
                }

            }
            .black{
                padding-top:30px;
                padding-bottom: 100px;

               @include media-breakpoint-down(md) {
                    padding-bottom: 30px;
               }

               @include media-breakpoint-up(xl) {
                    padding-top:60px;
                    padding-bottom: 83px;
                    padding-left: 30px;
                }
                .btn-secondary{
                    margin-bottom: 30px;
                }
                h4{
                    margin-bottom: 0;
                }
            }
            .specs{
                p{
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
            .grey{
                background-color:#d6d6d6;
                padding-top:0px;
                   @include media-breakpoint-up(md) {

                   }
                   @include media-breakpoint-up(lg) {


                   }
                @media screen and (min-width: 1440px) {
                    left: -48px;
                    width: 100%;
                    padding-left: 60px;
                    max-width: 1200px !important;
                }
                &:first-of-type{
                    padding-bottom:0;
                        padding-top:60px;
                   @include media-breakpoint-up(md) {
                        padding-top:60px;
                    }
                   @include media-breakpoint-up(lg) {
                        padding-top:90px;
                    }
                }
                .grey-inner{
                    padding-bottom: 30px;
                   @include media-breakpoint-up(lg) {
                        padding-bottom:90px;
                    }
                    .col{
                        padding-top: 40px;
                       @include media-breakpoint-up(md) {
                            padding-top: 0px;
                        }
                            p{
                                &:last-of-type{
                                    @include media-breakpoint-up(lg) {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
        }

        #aero{
            background-color: #ececec;
            overflow: hidden;
            h2{
                text-align: center;
            }
            .about-aero, .advantages{
                padding-top: 60px;

            }
            .about-aero{
                @include media-breakpoint-up(md) {
                    max-width: 600px;
                    padding-left: 46px;
                }
                @include media-breakpoint-up(lg) {

                }
                @include media-breakpoint-down(md) {
                    padding-left: 30px;
                }
                h3{
                    margin-bottom: 30px;
                        margin-left: -30px;
                    @include media-breakpoint-down(lg) {
                        margin-left: -50px;
                    }
                    @include media-breakpoint-down(sm) {
                        margin-left: -30px;
                    }
                }
                .howit{
                    @include media-breakpoint-down(md) {
                        margin-top:30px;
                    }

                }

                .control{
                    position: relative;
                    img{
                        max-width: 90px;
                        margin-bottom: 30px;
                       @include media-breakpoint-up(md) {
                            position: absolute;
                            top:60px;
                            left: -105px;
                            max-width: 90px;
                        }
                       @include media-breakpoint-up(lg) {
                            position: relative;
                            top:initial;
                            left: initial;
                            max-width: 90px;
                        }
                        @media screen and (min-width: 1530px) {
                            position: absolute;
                            top:60px;
                            left: -105px;
                            max-width: 90px;
                        }
                    }
                }
                img{
                    margin-top: 40px;
                    margin-bottom: 40px;
                   @include media-breakpoint-up(md) {
                    margin-top: 0px;
                        margin-bottom: 90px;
                    }

                }
            }
            .advantages{

                @include media-breakpoint-down(md) {
                    padding-top: 30px;

                }
                &::before{
                    content:'';
                    width: 1px;
                    height: 3000px;
                    background-color: white;
                    position: absolute;
                    top:0;
                    left: 0;
                }
                .percentage{
                    &:last-of-type{
                        margin-top: 30px;
                        p{
                            margin-bottom: 0;
                        }
                    }
                    h4{
                        margin-bottom: 30px;
                        text-align: center;
                        width: 100%;
                        @include media-breakpoint-down(sm) {
                            font-size: 12px;
                            line-height: 18px;
                        }
                        @include media-breakpoint-up(lg) {
                            text-align: left;
                            padding-left: 19px;

                        }
                    }
                    h3{
                        @include media-breakpoint-down(sm) {
                            font-size: 12px;
                            line-height: 18px;
                        }

                    }

                    &.second{
                        margin-top: 0px;
                        @include media-breakpoint-down(sm) {
                        }
                    }
                    .span-wrap{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        @include media-breakpoint-up(lg) {
                        justify-content: start;
                        }
                        span{
                            font-size: 23px;
                            line-height: 30px;
                            border: 1px solid #888888;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            display: flex;
                            margin-bottom: 30px;
                            margin-left: auto;
                            margin-right: auto;
                            align-items: center;
                            justify-content: center;
                            @include media-breakpoint-up(sm) {
                                width: 80px;
                                height: 80px;
                            }
                            @include media-breakpoint-up(md) {
                                font-size: 40px;
                                line-height: 46px;
                                width: 120px;
                                height: 120px;
                            }

                        }
                        &.first{
                            // &::before{
                            //     @include media-breakpoint-up(xl) {
                            //         content: '';
                            //         width: 543px;
                            //         max-width: 543px;
                            //         height: 1px;
                            //         background-color: #d6d6d6;
                            //         display: block;
                            //         position: absolute;
                            //         margin: 0 auto;
                            //         bottom: 0;
                            //         left: 16px;
                            //     }
                            // }
                        }
                        h4{
                            margin-bottom: 0px;
                            padding-left: 0;
                            width: 100%;
                            text-align: center;
                        }
                        p{
                            width: 100%;
                            margin-bottom: 10px;
                            text-align: center;
                        }
                    }
                    .ad-wrap{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        .text-wrap{
                            padding-right: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            @include media-breakpoint-up(md) {
                                padding-right: 15px;
                            }
                            @include media-breakpoint-up(xl) {
                            }
                            h4{
                                margin-bottom: 0px;
                                width: 100%;
                                text-align: left;
                                padding-left: 0;
                                @include media-breakpoint-down(xs) {
                                    font-size: 9px;
                                    line-height: 14px;
                                }
                            }
                            h3{
                            }
                            p{
                                width: 100%;
                                text-align: right;
                            }
                        }
                    }
                    .r-title{
                        text-align: right;
                        display: block;
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                        &.mb{
                            display: none;
                            text-align: left;
                            @include media-breakpoint-down(sm) {
                                display: block;
                                font-size: 16px;
                                line-height: 22px;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
                .consume{
                    border-left:1px solid #d6d6d6;

                        @include media-breakpoint-down(sm) {
                            border-left: 1px solid transparent;
                        }
                        @include media-breakpoint-down(xs) {
                            border-left: 1px solid #d6d6d6;
                        }
                    @include media-breakpoint-up(xl) {
                    }
                    &.first{
                    border-left:1px solid transparent;

                    }
                    .r-title{
                        text-align: right;
                        margin-bottom: 30px;
                        @include media-breakpoint-down(sm) {
                            text-align: left;
                            margin-top: 1rem;

                        }
                    }
                    img{
                        display: block;
                        max-width: 500px!important;
                        @include media-breakpoint-up(lg) {
                            margin: initial;
                            max-width: 541px!important;
                        }
                    }
                }
                .energy-footer{
                    margin-top: 30px;
                    margin-bottom: 60px;
                    p{
                        &.more-info{
                           @include media-breakpoint-down(sm) {
                                margin-top: 30px;
                            }
                                margin-bottom: 30px;

                        }
                        span{
                            font-size: 40px;
                            line-height: 42px;
                        }
                    }
                    a{
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-right: 22px;
                        margin-bottom: 20px;
                       @include media-breakpoint-down(sm) {
                            width: 100%;
                            max-width: 180px;
                            display: block;
                        }
                    }

                    .film{
                        display: block;
                        float: right;
                        margin-left: 5px;
                        margin-top: 1px;
                        max-width: 14px;
                        width: 13px;
                        background-repeat: no-repeat;
                        line-height: 0;
                        svg{
                            width: 100%;
                            path{
                                fill:white;
                            }
                        }
                    }
                }
            }
        }
        #best{
            h2{
                   @include media-breakpoint-down(sm) {
                    text-align:center;
                   }
            }
            .btn.zoom{
            }
            .brands{
                .container{
                    .row{
                        border-bottom:1px solid rgb(214,214,214);
                        padding-top:30px;
                        padding-bottom:30px;
                    }

                }
                &.first{
                    .container{
                        .row{
                            border-top:1px solid rgb(214,214,214);
                            >div{

                               @include media-breakpoint-down(sm) {
                                   padding-left: 0;
                                   padding-right: 0;
                               }
                            }
                        }
                    }

                }
                &:last-of-type{
                    border-bottom:0;
                    padding-bottom:0;
                }
                h3{
                    margin-bottom:30px;
                   @include media-breakpoint-up(xl) {
                        margin-bottom:60px;
                   }
                }
                .img{
                       @include media-breakpoint-down(sm) {
                           padding-right:7.5px!important;
                       }
                        @include media-breakpoint-up(md) {
                            padding-left: 0;
                        }
                        @include media-breakpoint-up(xl) {
                            padding-left: 15px;
                        }

                }
                .brand{

                       @include media-breakpoint-down(sm) {
                           padding-left:7.5px!important;
                       }
                        img{
                            display:block;
                            width: 100%;
                        }
                        @include media-breakpoint-up(md) {
                            padding-left: 0;
                        }
                        @include media-breakpoint-up(xl) {
                            padding-left: 15px;
                        }

                }
                .text{
                   @include media-breakpoint-down(sm) {
                        margin-top:30px;
                   }

                        @media screen and (min-width: 1650px) {
                            flex: 0 0 33.333333333%!important;
                            max-width: 33.333333333%!important;
                        }
                   p{
                    margin-bottom: 0;
                       @include media-breakpoint-down(sm) {
                            margin-bottom:30px;
                       }
                       @include media-breakpoint-down(lg) {
                        font-size:18px;
                        line-height:24px;

                       }
                   }

                }
                .link{
                    a{
                        font-family:'hnt';
                        text-transform: none;
                        font-size:22px;
                        color: rgb(136,136,136);
                        border-bottom:1px solid transparent;
                        transition: all 0.3s;
                        position:relative;
                        float:right;
                        &:hover{
                            color: black;
                            border-bottom:1px solid black;
                            text-decoration: none;
                        }


                       @include media-breakpoint-down(lg) {
                        font-size:18px;
                        line-height:24px;

                       }
                       @include media-breakpoint-up(md) {
                            position: absolute;
                            right: 0;
                            float:none;
                            top: 0;
                           }
                        @media screen and (min-width: 1455px) {
                            right: 0;
                        }
                    }
                }

            }
        }
        #localization{
            background-color:rgb(136,136,136);
            color: white;
            h2, p{
                text-align:center;
                width:100%;
                max-width:690px;
                margin:0 auto;
               @include media-breakpoint-down(md) {
                    max-width:550px;

               }
            }
            h2{
                padding-bottom:60px;
               @include media-breakpoint-down(md) {
                    padding-bottom:30px;

                }
            }
        }
        #gmaps{
            #map-canvas{
               @include media-breakpoint-down(md) {
                    height: 400px!important;
                }
            }

        }
       @include media-breakpoint-up(md) {

        }
        @include media-breakpoint-up(md) {

        }
        @include media-breakpoint-up(lg) {


        }


    }

}