// bootatrsp Variables override
@import 'bootstrap/variables';

// bootatrap original
@import '~bootstrap/scss/mixins';

// // site variables
@import 'site/variables';

$buger-height: 30px;
$border-width: 1px;

@import 'site/parts/burger';
@import 'site/parts/navigation';
@import 'site/parts/footer';
@import 'site/parts/arrows';
@import 'site/parts/aside-info';


.simple-hover {
    color: $black !important;
    padding-bottom: 1px;
    &:hover {
        border-bottom: 1px solid $black;
    }
}

a:hover {
    text-decoration: none;
}

.after-hover {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 0;
        width: 0%;
        margin-left: 50%;
        border-bottom: 1px solid transparent;
        transition: all 250ms ease-in-out;
    }
    &:hover, &.active {
        &:after {
            width: 100%;
            margin-left: 0%;
            border-bottom: 1px solid $link-hover-color;
        }
    }
    &.active {
        &:after, &:hover:after {
            border-bottom: 1px solid $link-color;
        }
    }
}

.legacy
{
    #page {
        margin-top: 60px;
    }

    #navigation-wrapper {
        background-color: white;
    }

    .text-body {
        font-family: "gpro", Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
    }

    .bg-black {
        background-color: $black;
    }
}