
@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";


//
// Spacing
//

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    '025': ($spacer * .25),
    '05': ($spacer * .5),
    0: 0,
    1: ($spacer),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    13: ($spacer * 13),
    14: ($spacer * 14),
    15: ($spacer * 15),
    16: ($spacer * 16)
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $gray-900;



/*base web 16px*/

$font-size-base: 1.375rem;
$font-size-sm: 1rem;
$h1-font-size: 1.125rem;
$h2-font-size:3rem;
$h3-font-size:1.125rem;


$link-color:                black !default;

$headings-color: inherit;
$primary: $black;
$secondary: #888888;

