// non bootstrap variables

$font-family-serif: "";
$buger-height: 30px;

$arrow-color: black;
$arrow-color-hover: $gray;
$arrow-line: 1px solid $arrow-color;
$arrow-line-hover: 1px solid $arrow-color-hover;
$arrow-size: 30px;
$arrow-lenght: 75px;