html {
    font-size: 14px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../assets/fonts/ButlerStencil.woff2') format('woff2'),
        url('../assets/fonts/ButlerStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('../assets/fonts/ButlerStencil-Black.woff2') format('woff2'),
        url('../assets/fonts/ButlerStencil-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}