*:focus {
    outline: none !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wide-content {
    @media (min-width: 1800px) {
        margin: 0 auto;
        width: 1800px;
    }
}

.w-lg-50 {
    @include media-breakpoint-up(lg) {
        width: 50% !important;
    }
}

.display-lg-1 {
    @include media-breakpoint-up(lg) {
        font-size: $display1-size;
    }
}

a.active {
    &:hover {
        color: $link-color;
    }
}

.slick-slide {
    line-height: 0;

    .inner-slide {
        line-height: $line-height-base;
    }
}

.line-height-0 {
    line-height: 0;
}

.line-height-larger {
    line-height: $font-size-base * 1.68;
}

.letter-spacing-small {
    letter-spacing: -1px;
}

.letter-spacing-medium {
    letter-spacing: -.5px;
}

.button-overlayed .btn {
    transform: translateY(-50%);
}

.nmt-10 {
    margin-top: -10 * $spacer;
}

.container {
    &.no-gutters {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
