// website styles code here

.hnt {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
}

.bs {
    font-family: 'Butler Stencil', 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: -1px;
}

.title-in-circle,
.title-in-circle-2,
.title-in-circle-3 {
    width: 250px;
    height: 250px;
    border: 1px solid $black;
    border-radius: 125px;

    &-inner {
        width: 100%;
        position: absolute;
        bottom: 50%;
        left: 0;
        margin-bottom: $spacer * -1.25;

        * {
            line-height: 1.6;
        }
    }
}

.title-in-circle-2,
.title-in-circle-3,
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-in-circle-2 {
    border: 1px solid $white;
}

.title-in-circle-3 {
    color: rgb(252, 144, 37);
    border: 1px solid rgb(252, 144, 37);
}

#projects-container, #last-projects-slider {
    a.item {
        display: block;
        text-transform: uppercase;
        text-align: center;
        h6 {
            font-size: 12px;
            @include media-breakpoint-up(xl) {
                font-size: 14px;
            }
        }
        h1 {
            font-size: 14px;
            @include media-breakpoint-up(xl) {
                font-size: 18px;
            }
        }
        @include media-breakpoint-up(xl) {
            text-align: left;
        }
        .text-ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .img-wrapper {
            overflow: hidden;
            position: relative;

            &:after {
                background: $white;
                display: block;
                height: auto;
                width: 100%;
                content: 'Veure projecte';
                text-align: center;
                padding: $spacer*2 0;
                position: absolute;
                bottom: -100%;
                left: 0;
                transition: all 250ms ease-in-out;
                font-weight: bold;
            }
        }
        &:hover {
            .img-wrapper:after {
                bottom: 0;
            }
        }
    }
}

#map-canvas {
    height: 300px;
    @include media-breakpoint-up(lg) {
        height: 600px;
    }
}