input, textarea {
    &.form-control {
        border-top: none;
        border-left: none;
        border-right: none;

        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }

        &:focus {
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            box-shadow: none;
        }
    }
}

.btn {
    &.btn-dark, &.btn-white {
        &:hover {
            background-color: $gray;
        }
    }

    &.btn-white {
        &:hover {
            color: $white !important;
        }
    }
}