.js.cssanimations {
    .scroll-fx {
        visibility: hidden;
        &.animated {
            visibility: visible;
        }
    }
}

.touch {
    &.js.cssanimations {
        .scroll-fx {
            visibility: visible;
            &.forceTouch {
                visibility: hidden;
            }
            &.animated {
                visibility: visible;
            }
        }
    }
}