

#wrap-arrow{
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
    z-index: 200001;
    position: relative;
    transition:all 0.6s;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &:hover{
        opacity: 0.5;
        #arrow{
         background-image: url('../../svg/up.svg');
            @include media-breakpoint-down(md) {

         background-image: url('../../svg/next.svg');
            }
        }
    }
    #arrow{
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 60px;
        height: 120px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content:center;
        background-image: url('../../svg/up.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        transition:opacity 0.6s;
        @include media-breakpoint-down(md) {
        background-image: url('../../svg/next.svg');
        transform:rotate(-90deg);
            background-size: 50px;
            bottom: 10px;
            width: 60px;
            height: 60px;
            right: 0;
        }
    }
}

#footer{
    background-color: $primary;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 0;
    p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }
    a{
        font-family: 'hnt';
        text-transform: none;
        color: white;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 1px solid transparent;
        &:hover{
            color:white;
            text-decoration: none;
            border-bottom: 1px solid #fff;
        }
    }
    .logo{
        max-width: 160px;
            @include media-breakpoint-down(md) {
                max-width: 120px;
            }
            @include media-breakpoint-down(sm) {
                max-width: 160px;
            }
    }
    .col{
        @include media-breakpoint-down(sm) {
            width: 100%!important;
            float: none;
            flex-basis:unset;

        }
        p{
            @include media-breakpoint-down(sm) {
                 margin-top: 20px;
             }
        }
    }
}


