#compte-header{
    .header-wrap{

            padding: 12px 0 30px 0;
        @include media-breakpoint-up(sm) {
            padding: 30px 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 30px 40px;
        }
    }
    .logo{
        width: 100%;
        line-height: 1;
        @include media-breakpoint-down(xs) {
            margin-top: 20px;
        }

        img{
            max-width: 160px;
            display: block;
            margin: 0 auto;
        }

    }
}


