// Color system

$white:    #fff;
$gray:     #888;
$gray-light: #d6d6d6;
$gray-lighter:     #ececec;
$black:    #000;

$blue:    #007bff;
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;


$primary:       $blue;
$secondary:     $gray;
$success:       $green;
$info:          $gray;
$warning:       $yellow;
$danger:        $red;
$light:         $gray;
$dark:          $black;


$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "black":      $black,
    "white":      $white,
    "gray":       $gray,
    "gray-light": $gray-light,
    "gray-lighter": $gray-lighter
  ),
  $theme-colors
);

//
// Options
//

$enable-rounded:                              false;

//
// Spacing
//

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    '025': ($spacer * .25),
    '05': ($spacer * .5),
    0: 0,
    1: ($spacer),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    13: ($spacer * 13),
    14: ($spacer * 14),
    15: ($spacer * 15),
    16: ($spacer * 16)
  ),
  $spacers
);


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                $black;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Links
//
// Style anchor elements.

$link-color:                              $black;
$link-decoration:                         none;
$link-hover-color:                        $black;
$link-hover-decoration:                   none;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 20%;

//
// Typography
//

$font-family-sans-serif:      "Gotham", Arial, sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1rem; // this web sites uses 20px
$font-size-lg:                $font-size-base * 1.6; // 32px
$font-size-sm:                $font-size-base * .8; // 16px

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.78;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        null;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              null;

$display1-size:               5rem;
$display2-size:               3.5rem;
$display3-size:               3.45rem;
$display4-size:               3.30rem;

$display1-weight:             300;
$display2-weight:             300;
$display3-weight:             300;
$display4-weight:             300;
$display-line-height:         $headings-line-height;


// Buttons


$btn-border-width: 0;

// Forms

$input-plaintext-color:  $white;
$input-color: $white;
$input-padding-x:                       0;
$input-placeholder-color:               $gray;
$input-focus-border-color: $white;
$input-focus-color:                     $white;

$custom-control-indicator-bg:           transparent;

$custom-control-indicator-border-color: $gray;

$custom-control-indicator-checked-color:        $white;
$custom-control-indicator-checked-bg:           $gray;
$custom-control-indicator-checked-box-shadow:   null;

// Navs

$nav-link-padding-y:                .25rem;
$nav-link-padding-x:                0;


