.view-pages-company {

    font-size: 12px;
    h6 {
        font-size: 12px;
    }
    @include media-breakpoint-up(md) {
        font-size: inherit;
        h6 {
            font-size: inherit;
        }
    }

    #slidedown-1 {
        @include media-breakpoint-up(md) {
            &.collapse {
                display: block;
            }
        }
    }

    .slidedown-box {
        background-color: $gray;
        color: $white;

        @include media-breakpoint-up(md) {
            background-color: transparent;
            color: $black;
        }

        .title {
            color: $white;
            
            font-size: 12px;

            @include media-breakpoint-up(md) {
                font-size: 14px;
                color: $black;
                border-bottom: 1px solid $black;
            }

            &:hover {
                color: $white;

                @include media-breakpoint-up(md) {
                    color: $black;
                }
            }

            &:after {
                border-top: 1px solid $white;
                border-left: 1px solid $white;
                border-bottom: 0px solid $white;
                border-right: 0px solid $white;
            }

            &.collapsed {
                &:after {
                    border-top: 0px solid $white;
                    border-left: 0px solid $white;
                    border-bottom: 1px solid $white;
                    border-right: 1px solid $white;
                }
            }
        }

        a {
            color: $white;

            font-size: 14px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }

            &:hover {
                color: $black;

                @include media-breakpoint-up(md) {
                    color: $secondary;
                }
            }

            @include media-breakpoint-up(md) {
                color: $black;
                position: relative;
                display: block;

                &:after {
                    position: absolute;
                    content: '';
                    top: 7px;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border-bottom: 1px solid $black;
                    border-right: 1px solid $black;
                    transform: rotate(-45deg);
                }

                &:hover {
                    &:after {
                        border-bottom: 1px solid $secondary;
                        border-right: 1px solid $secondary;
                    }
                }

                &.title {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        li {
            @include media-breakpoint-up(md) {
                padding-top: $spacer * .25;
                padding-bottom: $spacer * .25;
                border-bottom: 1px solid $black;
            }
        }
    }

    .intro {

        height: 45vh;

        @include media-breakpoint-up(sm) {
            height: 50vh;
        }

        @include media-breakpoint-up(md) {
            height: 60vh;
        }

        @include media-breakpoint-up(lg) {
            height: 75vh;
        }

        @include media-breakpoint-up(xl) {
            height: 90vh;
        }

        position: relative;
        background-image: url('../../assets/images/company-image.jpg');

        // @include media-breakpoint-up(sm) {
        //     background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .25)), url('../assets/images/company-image.jpg');
        // }

        @include media-breakpoint-up(md) {
            background-image: url('../../assets/images/company-image.jpg');
        }

        background-position-y: bottom;
        background-position-x: center;
        background-size: 100vw;
        background-repeat: no-repeat;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url('../../assets/svg/shape-1.svg');
            background-position-x: center;
            background-position-y: center;
            background-size: 100%;
            background-repeat: no-repeat;
            z-index: 0;
        }

        .intro-content {
            position: relative;
            z-index: 1;
        }

        .intro-text {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 45%;
            font-size: 14px;
            white-space: nowrap;
            text-transform: uppercase;



            @include media-breakpoint-up(sm) {
                bottom: 55%;
                font-size: $h4-font-size;
            }

            @include media-breakpoint-up(md) {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                text-transform: none;
                font-weight: lighter;
                bottom: 50%;
                font-size: $h2-font-size;
            }

            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }
    }

    #services-wrapper {
        color: $white;

        @include media-breakpoint-up(md) {
            transform: translateY(-100%);
            position: absolute;
            width: 100%;
            z-index: 1;
            padding-bottom: $spacer * 2;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: $spacer * 4;
        }
    }

    .desc {
        .title-in-circle {
            position: absolute;
            top: 0;
            transform: translateY(-50%);
        }
    }

    .value-title {
        @include media-breakpoint-up(lg) {
            font-size: 40px;
            letter-spacing: 1;
        }
    }

    #company-values {
        line-height: 1.5;
        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 1.25;
        }
    }
}
