.view-pages-contact {
    h6 {
        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }

    .h2 {
        @include media-breakpoint-up(lg) {
            font-weight: lighter;
            font-size: 40px;
        }
    }
}