.view-pages-home,
.view-pages-home2 {
        
    #el-nadal, #sert {
        h2, .h2 {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            @include media-breakpoint-up(lg) {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                text-transform: inherit;
                font-size: 40px;
                font-weight: lighter;
             }
         }
     }

     #last-projects .h2 {
         font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
         text-transform: inherit;
         font-size: 40px;
         font-weight: lighter;
     }

 #el-nadal {
     background: rgb(252, 144, 37);
     background: linear-gradient(90deg, rgba(252, 144, 37, 1) 0%, rgba(241, 81, 32, 1) 100%);

 }

 #el-nadal, #sert {
     min-height: 100vh;
     .sreq-img-1 {
         @include media-breakpoint-up(lg) {
             img {
                 margin-left: -75px;
             }
         }
     }
 }

 #el-nadal {
     .sreq-img-2 {
         transition: all 250ms ease-in-out;
         margin-top: -50px;

         @include media-breakpoint-up(lg) {
             margin-top: -100px;
         }

         @include media-breakpoint-up(xl) {
             margin-top: -200px;
         }

         @media (min-width: 1800px) {
             margin-top: -380px;
         }
     }
 }

 #sert {

     background-image: url('../../assets/svg/shape-2.svg');
     background-position-x: center;
     background-position-y: center;
     background-size: cover;
     background-repeat: no-repeat;

     .sreq-img-2 {
         transition: all 250ms ease-in-out;
         margin-top: -50px;

         @include media-breakpoint-up(lg) {
             margin-top: -100px;
         }

         @include media-breakpoint-up(xl) {
             margin-top: -150px;
         }

         @media (min-width: 1800px) {
             margin-top: -300px;
         }
     }

 }

 #about {
     background-image: url('../../assets/svg/C.svg');
     background-size: 80% 80%;
     background-position: center center;
     background-repeat: no-repeat;

     .bg-pattern {
         background-size: 69px;
         background-image: url('../../assets/svg/pattern.svg');
         background-position-x: right;
     }
 }

}