.view-pages-project {
    .project-title {
        @include media-breakpoint-up(lg) {
            font-size: 40px;
            font-weight: lighter;
            letter-spacing: 0;
        }
    }
    .project-description {
        font-size: 12px;
        @include media-breakpoint-up(lg) {
            font-size: inherit;
        }
    }
}