.view-pages-projects {

    #slidedown-2 {
        @include media-breakpoint-up(lg) {
            &.collapse {
                display: block;
            }
        }
    }

    .slidedown-box {
        border-bottom: 1px solid $gray-light;

        .title {
            display: block;
            font-size: 12px;
        }

        @include media-breakpoint-up(lg) {
            .title {
                display: none;
            }

            border-bottom: none;

            ul {
                display: flex;
                justify-content: center;

                li {
                    margin-left: $spacer;
                    margin-right: $spacer;
                }
            }
        }
    }
}