body{
    &.privacy{
        article{
            &#highlight{
               height: 175px;
                .container{
                    &.promo{
                        height: 175px;
                        @include media-breakpoint-up(md) {
                        }
                    }
                }
            }
            h3{
                text-align: left!important;
                @include media-breakpoint-down(xs) {
                    text-align: center!important;
                }
            }
            &#offer{
                margin-top: 50px;
            }
        }
    }

}